<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{#if h1}}{{ title }}{{else}}{{ title }} - Awesome Logos{{/if}}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous" />
    <meta name="theme-color" content="#2c3e50" />
    <link href="https://fonts.googleapis.com/css?family=Racing+Sans+One" rel="stylesheet" />
    <style>
        .navbar-logo {
            height: 24pt;
            margin-top: -14px;
            padding-top: 8px;
            padding-right: 8px;
        }
        /* faded border around logos in lists */
        .logo-container img {
            box-shadow: 0 0 5px #1d1d1d;
            border: solid #ccc 1px;
            margin: 6px;
        }

        h1,h2,h3 {
            font-family: 'Racing Sans One';
        }

        .navbar-brand {
            font-family: 'Racing Sans One';
            font-size: 1.65rem;
            padding-top: 0;
            padding-bottom: 0;
        }

        .nav-link {
            font-weight: bold;
        }
        .navbar-dark .navbar-nav .nav-link {
            color: white;
        }

        h1 {
            margin-top: 21px;
        }

        /* optional padding on visual inventory */
        .padded { padding: 5px; }
        .maxsize { max-width: 120px; max-height: 120px; }

        /* hide outline on a clicked tab */
        .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
            outline: 0;
        }
/*
        .navbar {
        	background: #af0011;
	background: -moz-linear-gradient(top, #af0011 0%, #9f0011 44%, #820011 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#af0011), color-stop(44%,#9f0011), color-stop(100%,#820011));
	background: -webkit-linear-gradient(top, #af0011 0%,#9f0011 44%,#820011 100%);
	background: -o-linear-gradient(top, #af0011 0%,#9f0011 44%,#820011 100%);
	background: -ms-linear-gradient(top, #af0011 0%,#9f0011 44%,#820011 100%);
	background: linear-gradient(to bottom, #af0011 0%,#9f0011 44%,#820011 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#af0011', endColorstr='#820011',GradientType=0 );
        }
*/
        .navbar {
        	background: #4829b2;
	        xbackground: linear-gradient(to bottom, #6b69e7 0%,#3e32a8 84%,#3900be 100%);
        }

        .social-footer {
            height: 20pt;
            padding-left: 5pt;
            padding-right: 5pt;
        }

        .awesomelogo {
            max-width: 250px;
            max-height: 100px;
            height: 100px;
            margin: 10px;
            padding: 5px;
        }

    </style>
    <link rel="shortcut icon" href="/favicon.ico">
    <script>if (window.top.location != window.location) { window.top.location.href = document.location.href; }</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <!-- Google Analytics -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-328425-32"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-328425-32');
    </script>
    <!-- End Google Analytics -->
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-dark navbar-static-top d-print-none" data-style="background-color:#1d8286;">
        <div class="container-fluid">
            <span>
                <a href="/search.html"><img src="/images/logo-white.svg" alt="Awesome Logos Logo" class="navbar-logo"></a>
                <a class="navbar-brand" href="/search.html">Awesome Logos</a>
            </span>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse navbar-right" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link" href="/sources/index.html">Sources</a></li>
                <li class="nav-item"><a class="nav-link" href="/search.html">Search</a></li>
                <li class="nav-item"><a class="nav-link" href="/faq.html">FAQ</a></li>
            </ul>
        </div><!--/.navbar-collapse -->
    </nav>

    <div class="container">
        <div class="row">
            <div class="col">
                <h1>
                    {{#if h1}}{{{h1}}}{{else}}{{ title }}{{/if}}
                </h1>
                <hr/>
