<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{#if h1}}{{ title }}{{else}}{{ title }} - {{t "COMMON.TITLE"}}{{/if}}</title>
    {{#if noindex}}<meta name="robots" content="noindex"/>{{/if~}}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#2c3e50" />
    {{# if description}}<meta name="description" content="{{description}}"/>
    {{/if~}}
    {{# if preconnect}}{{#each preconnect}}    <link rel="preconnect" href="{{this}}" />
    {{/each}}{{/if~}}
    <link href="{{{t "UI.FONT_CSS"}}}" rel="stylesheet" />
    <link href="/css/style.css?{{build_id}}" rel="stylesheet" />
    <script>if (window.top.location != window.location) { window.top.location.href = document.location.href; }</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    {{#if rootMeta}}<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "Organization",
        "image": "https://{{t "UI.WEBSITE"}}/images/hero.png",
        "logo": "https://{{t "UI.WEBSITE"}}/images/logo512.png",
        "name": "{{t "COMMON.TITLE"}}",
        "url": "https://{{t "UI.WEBSITE"}}/"
    }
    </script>
   <script type="application/ld+json">
   {
       "@context": "https://schema.org",
       "@type": "WebSite",
       "name": "{{t "COMMON.TITLE"}}",
       "url": "https://{{t "UI.WEBSITE"}}/search.html",
       "potentialAction": {
           "@type": "SearchAction",
           "target": "https://{{t "UI.WEBSITE"}}/search.html?q={search_term_string}",
           "query-input": "required name=search_term_string"
       }
    }
    </script>
    <link rel="canonical" href="https://{{t "UI.WEBSITE"}}/search.html" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://{{t "UI.WEBSITE"}}/search.html" />
    <meta property="og:title" content="{{t "COMMON.TITLE"}}" />
    <meta property="og:description" content="{{description}}" />
    <meta property="og:image" content="https://{{t "UI.WEBSITE"}}/images/hero.png" />
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:domain" content="{{t "UI.WEBSITE"}}" />
    <meta name="twitter:title" content="{{t "COMMON.TITLE"}}" />
    <meta name="twitter:description" content="{{description}}" />
    <meta name="twitter:image" content="https://{{t "UI.WEBSITE"}}/images/hero.png" />{{/if}}
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-light navbar-static-top d-flex justify-content-between d-print-none">
        <a class="navbar-brand" href="/search.html">
            <img alt="{{t "NAVBAR.IMG_ALT"}}" class="navbar-logo d-none d-md-inline" src="/favicon.svg">
            {{t "NAVBAR.SITE_NAME"}}
        </a>
        <ul class="navbar-nav d-flex flex-row justify-content-end">
            <li class="nav-item"><a class="nav-link text-nowrap" href="/search.html"><img alt="{{t "NAVBAR.SEARCH"}}" class="d-md-none mr-3" src="/images/navbar/search-solid.svg" style="height:1rem;opacity:0.5"/><span class="d-none d-md-inline">{{t "NAVBAR.SEARCH"}}</span></a></li>
            <li class="nav-item"><a class="nav-link text-nowrap" href="/{{t "UI.IMAGE_PATH"}}/index.html"><img alt="{{t "NAVBAR.IMAGES"}}" class="d-md-none mr-3" src="/images/navbar/file-image-regular.svg" style="height:1rem;opacity:0.5"/><span class="d-none d-md-inline">{{t "NAVBAR.IMAGES"}}</span></a></li>
            <li class="nav-item"><a class="nav-link text-nowrap" href="/sources/index.html"><img alt="{{t "NAVBAR.SOURCES"}}" class="d-md-none mr-3" src="/images/navbar/code-branch-regular.svg" style="height:1rem;opacity:0.5"/><span class="d-none d-md-inline">{{t "NAVBAR.SOURCES"}}</span></a></li>
            <li class="nav-item"><a class="nav-link text-nowrap" href="/faq.html"><img alt="{{t "NAVBAR.FAQ"}}" class="d-md-none mr-3" src="/images/navbar/info-circle-regular.svg" style="height:1rem;opacity:0.5"/><span class="d-none d-md-inline">{{t "NAVBAR.FAQ"}}</span></a></li>
        </ul>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>
                    {{~#if h1}}{{{h1}}}{{else}}{{ title }}{{/if~}}
                </h1>
                <hr/>
