<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{#if h1}}{{ title }}{{else}}{{ title }} - LogoSear.ch{{/if}}</title>
    {{#if noindex}}<meta name="robots" content="noindex"/>{{/if}}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#2c3e50" />
    {{# if description}}<meta name="description" content="{{description}}"/>{{/if}}
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&family=Sansita:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet" />
    <link href="/css/style.css?{{build_id}}" rel="stylesheet" />
    <style>
        .navbar-logo {
            height: 2.5rem;
            margin-top: -12px;
            padding-right: 8px;
        }
        /* faded border around logos in lists */
        .logo-container img {
            box-shadow: 0 0 5px #1d1d1d;
            border: solid #ccc 1px;
            margin: 6px;
        }

        .navbar-brand {
            font-family: 'Sansita', sans-serif;
            font-weight: 700;
            font-style: italic;
            font-size: 1.65rem;
            padding-top: 0;
            padding-bottom: 0;
        }

        .nav-link {
            font-weight: bold;
        }
        .navbar-dark .navbar-nav .nav-link {
            color: white;
        }

        h1 {
            margin-top: 21px;
        }

        /* optional padding on visual inventory */
        .padded { padding: 5px; }
        .maxsize { max-width: 120px; max-height: 120px; }

        /* hide outline on a clicked tab */
        .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
            outline: 0;
        }

        .navbar {
        	background: #f2f2f2;
        }

        .social-footer {
            height: 20pt;
            padding-left: 5pt;
            padding-right: 5pt;
        }

        .boxedlogo {
            max-width: 250px;
            max-height: 100px;
            height: 100px;
            margin: 10px;
            padding: 5px;
        }
        .gridbg {
            background-color: #ccc;
        }

    </style>
    <script>if (window.top.location != window.location) { window.top.location.href = document.location.href; }</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/48de122c1b.js" crossorigin="anonymous"></script>
    {{#if rootMeta}}<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "Organization",
        "logo": "https://logosear.ch/images/logo512.png",
        "name": "LogoSear.ch",
        "potentialAction": {
            "@type": "SearchAction",
            "target": "https://logosear.ch/search.html?q={query}",
            "query-input": "required name=query"
        },
        "url": "https://logosear.ch/"
    }
    </script>{{/if}}
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-light navbar-static-top d-flex justify-content-between d-print-none">
        <a class="navbar-brand" href="/search.html">
            <img alt="LogoSear.ch Logo" class="navbar-logo d-none d-md-inline" src="/favicon.svg">
            LogoSear.ch
        </a>
        <ul class="navbar-nav d-flex flex-row justify-content-end">
            <li class="nav-item"><a class="nav-link text-nowrap" href="/search.html"><i class="fas fa-search d-md-none mr-3"></i><span class="d-none d-md-inline">Search</span></a></li>
            <li class="nav-item"><a class="nav-link text-nowrap" href="/logos/index.html"><i class="far fa-file-image d-md-none mr-3"></i><span class="d-none d-md-inline">Logos</span></a></li>
            <li class="nav-item"><a class="nav-link text-nowrap" href="/sources/index.html"><i class="far fa-code-branch d-md-none mr-3"></i><span class="d-none d-md-inline">Sources</span></a></li>
            <li class="nav-item"><a class="nav-link text-nowrap" href="/faq.html"><i class="far fa-info-circle d-md-none"></i><span class="d-none d-md-inline">FAQ</span></a></li>
        </ul>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col">
                <h1>
                    {{#if h1}}{{{h1}}}{{else}}{{ title }}{{/if}}
                </h1>
                <hr/>
