{{> above}}
<div class="alert alert-info">{{{flashHtml}}}</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>{{t "IMAGES_PAGE.NAME_COLUMN_HEADER"}}</th>
            <th class="text-right">{{t "IMAGES_PAGE.SOURCES_COLUMN_HEADER"}}</th>
        </tr>
    </thead>
    <tbody>
    {{#each values}}
        <tr>
            <td class="">
                <a href="{{this.name}}/index.html">{{this.name}}</a>
            </td>
            <td class="text-right">
                <a href="{{this.name}}/index.html">{{this.images.length}}</a>
            </td>
        </tr>
    {{/each}}
    </tbody>
</table>

<p>
</p>

{{> below}}
