{{> above}}

<table class="table table-bordered table-striped">
    <tbody>
        <tr>
            <td>Repository</td>
            <td>{{repo.repo}}</td>
        </tr>
        <tr>
            <td>ID</td>
            <td>{{repo.id}}</td>
        </tr>
        <tr>
            <td>Branch</td>
            <td>{{repo.branch}}</td>
        </tr>
        <tr>
            <td>Directory</td>
            <td>{{repo.directory}}</td>
        </tr>
        <tr>
            <td>Commit</td>
            <td>{{searchData.commit}}</td>
        </tr>
        <tr>
            <td># of logos</td>
            <td><a href="logos.html">{{searchData.images.length}}</a></td>
        </tr>
        <tr>
            <td>Last Updated</td>
            <td>{{searchData.lastmodified}}</td>
        </tr>
    </tbody>
</table>

{{> below}}