{{> above}}
<script src="/js/jquery.ba-throttle-debounce.js"></script>
<script>

    function removeLoading(e) {
        $(e)
            .removeClass("noscript-loading")
            .removeClass("loading")
            ;
    }

    $(window).on("DOMContentLoaded", function(event) {
        $(".noscript-loading").addClass("loading");
    });

    const DEFAULT_MAX = {{DEFAULT_MAX}};

    var doSearch = function(query, max)
    {
        var url = '/api/search.json';
        if (!query || query.length == 0)
        {
            url = '/api/random.json';
        }

        if (!max) {
            max = DEFAULT_MAX;
        }

        console.log(`searching for ${query} (max=${max})`);
        //$("#search_results").text("searching for " + query);
        $.ajax({
            data: { q: query, max },
            dataType: 'json',
            error: function(xhr, text, err) {
                window.alert("Search API Error: " + text);
            },
            method: 'GET',
            success: function(data, text, xhr) {
                display_search_results(query, data);
            },
            url: url
        });
        return false;
    };

    $("#search_form").submit(function() {
        doSearch($("#q").val(), $("#max").val());
        return false;
    });

    $("#q").on('input propertychange paste', $.debounce(100, function() {
        console.log("input paste");
        var query = $("#q").val();
        var max = $("#max").val();
        history.replaceState({ "q": query}, "", "?q=" + query + (!max || max == DEFAULT_MAX ? "" : ("&max=" + max)));
        doSearch(query, max);
    }));
/*
    $(window).on("load", function(event) {
        console.log("load", history.state);;
        var query = getParameterByName("q");
        var max = getParameterByName("max");
        //if (query && query.length)
        {
            $("#q").val(query);
            $("#max").val(max);
            doSearch(query, max);
        }
   });
*/
    $(window).on("popstate", function(event) {
        console.log("popstate");
        if (event.originalEvent.state)
        {
            var query = event.originalEvent.state["q"];
            var max = event.originalEvent.state["max"];
            $("#q").val(query);
            $("#max").val(max);
            doSearch(query, max);
        }
        else
        {
            $("#q").val("");
            $("#max").val(DEFAULT_MAX);
            $("#search_results").empty();
        }
    });

    function getParameterByName(name) {
        var match = RegExp('[?&]' + name + '=([^&]*)').exec(window.location.search);
        return match && decodeURIComponent(match[1].replace(/\+/g, ' '));
    }


    function htmlEncode(value){
        return $("<div>").text(value).html();
    }

    function display_search_results(query, data) {
        var $search_results = $("#search_results");

        if (!data || !data.success) {
            $search_results.html(`<div class="alert alert-warning">${data.message}</div>`);
            return;
        }

        const results = data.results;

        // Are there any results?
        if (results.length)
        {
            $search_results.empty(); // Clear any old results

            if (results.length > 250) {     // browsers tend to freeze with more
                results.length = 250;
            }

            // Iterate over the results
            results.forEach(function(result) {
                const img = $("<img>")
                    .on("load", (e) => { $(e.currentTarget).removeClass("loading"); } )
                    .on("error", (e) => { $(e.currentTarget).removeClass("loading"); } )
                    .attr("src", result.url)
                    .attr("title", result.description)
                    .addClass("boxedlogo")
                    .addClass("loading");
                if (result.css) {
                    img.addClass(result.css);
                }
                $search_results.append(
                    $("<a>").attr("href", result.source).append(img)
                );
            });

            if (data.more && results.length < 250) {
                const moreLink = $("<a>")
                    .attr("href", `/search.html?q=${encodeURIComponent(query)}&max=${results.length + 50}`)
                    .addClass("btn")
                    .addClass("btn-outline-primary")
                    .text("More...");

                $search_results.append($("<p>").append(moreLink));
            }
        }
        else
        {
            //LATER: translate
            $search_results.html('<div class="alert alert-warning">No results found for "' + htmlEncode(query) + '"</div>');
        }
    }
</script>

<form action="/search.html" class="form-inline justify-content-center" id="search_form" method="GET">
    <div class="form-row align-items-center" style="padding-bottom:20px;">
        <div class="col-auto">
            <label class="sr-only" for="q">{{t "SEARCH_PAGE.INPUT_LABEL"}}</label>
            <div class="input-group">
                <input autocomplete="off" autofocus="autofocus" class="form-control" id="q" name="q" placeholder="{{t "SEARCH_PAGE.INPUT_PLACEHOLDER"}}" type="text" value="{{q}}" />
                <div class="input-group-append">
                    <button type="submit" class="btn" style="background-color:#3e32a8;color:white;font-weight:bold;">{{t "SEARCH_PAGE.SEARCH_BUTTON"}}</button>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" id="max" name="max" value="{{max}}" />
</form>

<div class="row clearfix">
    <div class="logo-container" id="search_results">
        {{#if results}}
            {{#each results}}
                <a href="{{this.source}}"><img class="boxedlogo{{#if this.css}} {{this.css}}{{/if}} noscript-loading" onload="removeLoading(this)" src="{{this.url}}" title="{{this.description}}"/></a>
            {{/each}}
        {{else}}
            <div class="alert alert-warning">No results found for "{{q}}"<!--LATER: translate--></div>

        <!--<img src="/images/spinner.svg" style="border: 0;box-shadow: none;height:96px;width:96px;" alt="spinner" title="Please wait..." />-->
        {{/if}}
    </div>
</div>

{{> below}}
