{{> above}}

<table class="table table-bordered table-striped">
    <tbody>
        <tr>
            <td>Name</td>
            <td>{{source.name}}</td>
        </tr>
        <tr>
            <td>ID</td>
            <td>{{source.handle}}</td>
        </tr>
        <tr>
            <td>Logo</td>
            <td>
                {{#if source.logo}}
                <img alt="{{source.name}}" src="{{{source.logo}}}" style="height:18pt;" title="{{source.name}}" />
                {{else}}<i>(not specified)</i>{{/if}}
            </td>
        </tr>
        <tr>
            <td>Provider</td>
            <td><img alt="{{source.provider}}" src="{{{source.provider_icon}}}" style="height:18pt;" title="{{source.provider}}" /> {{source.provider}}</td>
        </tr>
    {{# if source.website }}
        <tr>
            <td>Public website</td>
            <td><a href="{{source.website}}">{{source.website}}</a></td>
        </tr>
    {{/if}}
        <tr>
            <td>Source URL</td>
            <td><a href="{{source.url}}">{{source.url}}</a></td>
        </tr>
        <tr>
            <td># of logos</td>
            <td><a href="logos.html" rel="nofollow">{{addCommas source.images.length}}</a></td>
        </tr>
        <tr>
            <td>Last Updated</td>
            <td>{{source.lastmodified}}</td>
        </tr>
    </tbody>
</table>

{{#if robot}}{{else}}
<details>
    <summary>Raw data</summary>
    <pre class="">{{toJson source.data}}</pre>
</details>
{{/if}}
{{> below}}