{{> above}}
<p>
    These are the sources currently indexed.
</p>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th class="d-none d-md-table-cell">Handle</th>
            <th>Source</th>
            <th class="text-center"># Logos</th>
            <th class="d-none d-md-table-cell">Last update</th>
        </tr>
    </thead>
    <tbody>
{{#each sources}}
        <tr>
            <td class="d-none d-md-table-cell"><a href="{{this.handle}}/">{{this.handle}}</a></td>
            <td>
                <img alt="{{this.provider}}" src="{{{this.provider_icon}}}" style="height:18pt;" title="{{this.provider}}" />
                <a href="{{this.url}}">{{this.name}}</a></td>
            <td class="text-center"><a href="{{this.handle}}/logos.html">{{this.images.length}}</a></td>
            <td class="d-none d-md-table-cell">{{this.lastmodified}}</td>
        </tr>
{{/each}}
    </tbody>
</table>

{{> below}}