{{> above}}
<div class="alert alert-info">
    These are the names that appear in the most sources.

    There {{addCommas uniqueCount}} different names

    and {{addCommas singleSourceCount}} names appear in only one source.
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th class="text-right"># Sources</th>
        </tr>
    </thead>
    <tbody>
    {{#each values}}
        <tr>
            <td class="">
                <a href="{{this.name}}/index.html">{{this.name}}</a>
            </td>
            <td class="text-right">
                <a href="{{this.name}}/index.html">{{this.images.length}}</a>
            </td>
        </tr>
    {{/each}}
    </tbody>
</table>

<p>
</p>

{{> below}}