{{> above}}

<div class="logo-container">
{{#each logoDetail.images}}
    <a href="{{this.src}}"><img
        alt="{{this.name}}"
        class="boxedlogo{{#if this.css}} {{this.css}}{{/if}}"
        src="{{../cdn_prefix}}{{this.img}}"
        title="{{this.name}}"/></a>
{{/each}}
</div>

{{> below}}
